<!-- entries/templates/entries/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Diary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
    <div class="container mt-5">
        <header class="mb-4">
            <h1><a href="/" class="text-decoration-none text-dark">Dear diary …</a></h1>
        </header>
        {% block content %}{% endblock %}
        <hr>
        <footer class="mt-4">
            <a href="{% url 'admin:logout' %}" class="btn btn-danger">Logout</a>
        </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</body>

</html>